/* This is the stylesheet to apply responsive design to media screens with a max width of 980px */

@media screen and (max-width: 980px) {
    /* Adjust default dimensions for header and content section of page */
    #content,
    #header {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    /* Main content on page */
    article#main {
        clear: both;
        font-size: 12px;
        width: 60%;
        margin-bottom: 10px;
    }
    /* Form Input */
    #email,
    #message,
    #name {
        width: 100%;
    }
    /* Sidebar content */
    aside#sidebar {
        width: 30%;
        margin-right: auto;
    }
    /* Profile Image */
    img#profile {
        display: inline-block;
    }
    img {
        text-align: center;
    }
    /* Main section paragraph styling */
    article p {
        clear: both;
    }
    /* Portfolio pictures */
    figure.left,
    figure.right {
        margin: auto;
        text-align: center;
        width: 100%;
    }
    figcaption {
        background-color: #4AAAA5;
        color: #FFF;
        display: inline-block;
        font-size: 16px;
        position: relative;
        text-align: center;
        top: -60px;
        width: 250px;
        margin-left: -3px;
        z-index: 1;
    }
    /* End of Portfolio Pictures */
    /* Footer */
    footer {
        width: 100%;
        position: relative;
    }
}