/* This is the stylesheet to apply responsive design to media screens with a max width of 640px */

@media screen and (max-width: 640px) {
    /* Header and Logo */
    header {
        background-color: white;
        padding: 0px;
    }
    header h1.heading,
    header nav#menu {
        width: 100%;
        display: inline-block;
        text-align: center;
    }
    header nav#menu {
        background-color: #FFF;
        font-size: 12px;
        padding: 10px;
    }
    #header {
        width: auto;
        height: auto;
    }
    /* End of Header/Logo */
    /* Start of Navigation styling */
    nav ul li>a {
        border-right: 1px solid #777;
        color: #777;
        padding-left: 30px;
        padding-right: 35px;
    }
    nav ul li:last-child>a {
        border-right: 0;
    }
    /* End of Navigation styling */
    /* Profile Picture */
    #profile {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
    }
    /* End of Profile Picture styling */
    /* Main section */
    article#main {
        font-size: 14px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    /* End of Main section styling */
    /* Portfolio pictures */
    figcaption {
        background-color: #4AAAA5;
        color: #FFF;
        display: inline-block;
        font-size: 16px;
        /* padding-top: 8px;
        padding-bottom: 8px; */
        position: relative;
        text-align: center;
        top: -60px;
        width: 250px;
        margin-left: -3px;
        z-index: 1;
    }
    /* End of portfolio pictures */
    /* Sidebar */
    aside#sidebar {
        clear: both;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    /* End of Sidebar */
    /* Footer */
    .footer {
        position: static;
        bottom: 0;
    }
    /* End of Footer */
    /* End of File  */
}